{% extends 'layouts/default.html' %}
{% block content %}
    
        <section id="section-home" class="featured">
            <div class="container"> 
                <div class="row mar-bot40">
                    <div class="col-md-3 col-md-offset-2">
                        <div>
                            <p class="slogan align-center">
                            Money Has Changed  
                            </p>    
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-2">
                        <figure><img src="public/system/assets/img/logos/logo-flat.png" alt="The Three Giants" /></figure>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- services -->
        <section id="section-services" class="section pad-bot30 bg-turquoise">
            <div class="container"> 
            
                <div class="row mar-bot40">
                    <div class="col-lg-2 col-lg-offset-1" >
                        <div class="align-center">
                            <i class="fa fa-forward fa-5x mar-bot20"></i>
                            <p class="feature">The latest technologies, nothing else
                            </p>
                        </div>
                    </div>
                        
                    <div class="col-lg-2 col-lg-offset-2" >
                        <div class="align-center">
                            <i class="fa fa-money fa-5x mar-bot20"></i>
                            <p class="feature">Secure as your regular fortress
                            </p>
                        </div>
                    </div>
                
                    <div class="col-lg-2 col-lg-offset-2" >
                        <div class="align-center">
                            <i class="fa fa-mobile fa-5x mar-bot20"></i>
                            <p class="feature">Easier than reaching into your pocket
                            </p>
                        </div>
                    </div>
                
                </div>  

            </div>
        </section>
            
        <!-- spacer section:parallax2 -->
        <section id="parallax2" class="section" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">               
                    <div class="col-lg-12">
                        <div class="align-center">
                            <div class="testimonial pad-top40 pad-bot40 clearfix align-right">
                                <h5>
                                    "The one thing that&apos;s missing but that will soon be developed, is a reliable e-cash"
                                </h5>
                                <br/>
                                <span class="author align-right">
                                    Milton Friedman- Economics Nobel Prize
                                </span>
                            </div>
                        </div>
                    </div>                
                </div>  
            </div>  
        </section>
            
        <!-- about -->
        <section id="section-products" class="section appear clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h2 class="about animated align-center" data-animation="bounceInUp">Coinbinator</h2>
                        <h3 class="about align-center">Social finance</h3>
                        <p class="about align-center">Send money to any of your friends, wherever they are. Pay for services or products only when they are delivered. Instant transfers of any amount.</p>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <figure><img src="public/system/assets/img/portfolio/coinbinator.png" alt="Coinbinator capture" /></figure>
                    </div>
                </div>
            </div>
        </section>
        <!-- /about -->
        
        <!-- spacer section:stats -->
        <section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="align-center pad-top40 pad-bot40">
                    <blockquote class="bigquote color-white">The Future of Finance</blockquote>
                </div>
            </div>  
        </section>
        
        <!-- contact -->
        <section id="section-contact" class="section appear clearfix" data-ng-controller="LeadsController">
            <div class="container">
                <div class="row mar-bot40">
                    <div class="col-md-offset-3 col-md-6">
                        <div class="section-header">
                            <h2 class="section-heading animated color-grey" data-animation="bounceInUp">Stay Tuned</h2>
                            <p class="contact color-grey">We will set you up for our private products with exclusive advantages. Non-invasive, one-click unsubscribe</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="cform" id="contact-form">
                            <div id="sendmessage" ng-class="{show: success === true}">
                                 Your message has been sent. Thank you!
                            </div>

                            <form role="form" class="contactForm">
                              <div class="form-group">
                                <label class="color-grey" for="email">Your Email</label>
                                <!--<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />-->
                                <input type="email" class="form-control" ng-model="lead.email" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                                <div ng-class="{'error-email': error === true}">
                                    <!--Email already registered-->
                                </div>
                              </div>

                              <button class="btn btn-theme pull-left" ng-click="createLead($event)">Keep in touch</button>
                            </form>

                        </div>
                    </div>
                    <!-- ./span12 -->
                </div>
            </div>
        </section>
        <!-- map -->
        <section id="section-map" class="clearfix">
            <div id="map"></div>
        </section>
        
        <section id="footer" class="section footer">
            <div class="container">
                
                <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
                    <div class="col-sm-12 align-center">
                        <ul class="social-network social-circle">
                            <li><a href="https://twitter.com/MoneyHasChanged" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <!--
                            <li><a href="" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            -->
                        </ul>               
                    </div>
                </div>
                
                <div class="row align-center copyright">
                        <div class="col-sm-12"><p>Copyright &copy; 2013-2014 <a href="mailto:info@selldat">Selldat</a></div>
                </div>
            </div>
        </section>
    <script type="text/javascript">
        window.user = {{user|safe}};        
        window.modules = {{modules|safe}};      
    </script>
{% endblock %}
